#preloader{
  position: absolute;
  right: -60px;
  top: 140px;
  width:20px;
  height:20px;
  background:transparent;
  border-radius:10px;
  animation: preload 1.5s infinite linear;
}
#preloader:after{
  position:absolute;
  width:20px;
  height:20px;
  border-top:10px solid #53a3c9;
  border-bottom:10px solid #a9d5e9;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-radius:20px;
  content:'';
  top:-10px;
  left:-10px;
  animation: preload_after 1.5s infinite linear;
}
@keyframes preload {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg)}
  100% {transform: rotate(360deg);}
}
@keyframes preload_after {
  0% {border-top:10px solid #53a3c9;border-bottom:10px solid #53a3c9;}
  50% {border-top:10px solid #3498db;border-bottom:10px solid #3498db;}
  100% {border-top:10px solid #53a3c9;border-bottom:10px solid #53a3c9;}
}